<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Tw-agenda-servlets</display-name>
	<!--Declarando o Servlet dentro do Deployment Descriptor -->
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<!-- Full Qualified name - nome completo da classe -->
		<servlet-class>br.com.treinaweb.agenda.servlets.HelloServlet</servlet-class>
	</servlet>
	<!-- Mapeamento do Servlet | configurando a url para chamar o Servlet a 
		partir do /hello no server -->
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<!-- Servlet para o usuário inserir o nome -->
	<servlet>
		<servlet-name>EscrevaSeuNomeServlet</servlet-name>
		<servlet-class>br.com.treinaweb.agenda.servlets.EscrevaSeuNomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EscrevaSeuNomeServlet</servlet-name>
		<url-pattern>/escrevaSeuNome</url-pattern>
	</servlet-mapping>

	<!-- Servlet Exibir o nome do usuário -->
	<servlet>
		<servlet-name>ReceberMensagemServlets</servlet-name>
		<servlet-class>br.com.treinaweb.agenda.servlets.ReceberMensagemServlets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceberMensagemServlets</servlet-name>
		<url-pattern>/receberMensagem</url-pattern>
	</servlet-mapping>

	<!-- Servlet de Mensagem -->

	<servlet>
		<servlet-name>MensagemServlet</servlet-name>
		<servlet-class>br.com.treinaweb.agenda.servlets.MensagemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MensagemServlet</servlet-name>
		<url-pattern>/mensagem</url-pattern>
	</servlet-mapping>

	<!-- Servlet de Treino, treino - Ano de Nascimento -->
	<servlet>
		<servlet-name>DigiteAnoNascTreino</servlet-name>
		<servlet-class>br.com.treinaweb.agenda.servlets.DigiteAnoNascTreino</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DigiteAnoNascTreino</servlet-name>
		<url-pattern>/nascimento</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>